* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texto-menu, .texto-lancamentos {
    margin: 10px 20px 20px 20px;
    color: #D91494;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight:bolder;
    cursor: pointer;
    transition: opacity 0.3s;
}

.texto-menu {
    font-size: 15px;
}

.texto-lancamentos {
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 145px;
    margin-top: 70px;

}

.texto-menu:hover {
    opacity: 0.5;
}


img {
    width: 100%;
}